body {
  background-color: rgb(247, 241, 241);
  width: 100%;
}

img {
  width: 26%;
  float: left;
  transition: transform 0.3s ease;
  clip-path: polygon(91% 14%, 91% 86%, 76% 100%, 2% 100%, 0% 14%);
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 15px;
}
img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.main {
  margin: 30px;
  padding: 5px;
  width: 100%;
  height: auto;
  margin-left: 70px;
  background-color: white;
  align-items: baseline;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  text-align: left;
  font-size: 20px;
}
.title:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.05);
}
.dis {
  margin-left: 280px;
  text-align: justify;
  width: 70%;
}
.content {
  margin-top: 20px;
}
.h4h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.des {
  text-align: left;
  margin-top: 10px;
  font-size: 12px;
}
.const {
  width: 80%;
  margin-left: 70px;
}
.count {
  color: rgb(136, 132, 132);
  display: flex;
  align-items: center;
  width: 18%;
  font-size: 15px;
  display: flex;
}
.span {
  font-size: 15px;
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
.para {
  color: rgb(136, 132, 132);
  font-size: 15px;
}

.icon {
  width: 20px;
  padding-right: 5px;
}
.icons {
  padding-right: 8px;
  width: 20px;
}
